{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "semi": false,
    "bracketSpacing": true
}
